!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{http-equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "csrf-token", content: "a_csrf_token_generated_by_server"}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: "screen", rel: "stylesheet"}/
    %link{href: "form.css", rel: "stylesheet"}/
    %title
      WRLD3D - Registration
  %body.account-register{data-js-view-name: "RegistrationView"}
    #page
      %nav.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
        .container
          %nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{aria-controls: "navbar", aria-expanded: "false", data-target: "#navbar", data-toggle: "collapse", type: "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                %a.navbar-brand{href: "#"}
                  %img.logo{src: "WRLD_Logo_white.svg"}
              #navbar.navbar-collapse.collapse
                %ul.nav.navbar-nav
                  %li.active
                    %a{href: "#"} Home
                  %li.dropdown
                    %a.dropdown-toggle{aria-expanded: "false", aria-haspopup: "true", data-toggle: "dropdown", href: "#", role: "button"}
                      Platform
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} 3D maps
                      %li
                        %a{href: "#"} Indoor mapping
                      %li
                        %a{href: "#"} Custom maps
                  %li.dropdown
                    %a.dropdown-toggle{aria-expanded: "false", aria-haspopup: "true", data-toggle: "dropdown", href: "#", role: "button"}
                      Industries
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} IOT
                      %li
                        %a{href: "#"} Retail
                      %li
                        %a{href: "#"} Travel
                  %li
                    %a{href: "#"} Developers
                  %li
                    %a{href: "#"} Company
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{href: "#"} Register
                  %li
                    %a{href: "#"} Sign in
      .container
        .row
          #content.col-sm-12
            %h1 Register Account
            %p
              If you already have a WRLD account, please login at the&nbsp;
              %a{href: "#"} login page
            %p
              All information collected is never shared and is stored on our secure servers
            %p
            %p.alert.alert-danger{role: "alert", data-bind: "style: {display: submitError() === true ? 'block' : 'none'}"}
              There was a problem submitting the data, please wait and try again later.
            %form.form-horizontal{action: "#", enctype: "multipart/form-data", method: "post"}
              %fieldset#account
                %legend Personal details
                .stepWrapper{data-bind: "visible: currentStep() === 1"}
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-firstname"} First name
                    .col-sm-10
                      %input#input-firstname.form-control{name: "firstname", placeholder: "First Name", type: "text", value: "", data-bind: "textInput: firstName", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-lastname"} Last name
                    .col-sm-10
                      %input#input-lastname.form-control{name: "lastname", placeholder: "Last Name", type: "text", value: "", data-bind: "textInput: lastName", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-email"} Email
                    .col-sm-10
                      %input#input-email.form-control{name: "email", placeholder: "E-Mail", type: "email", value: "", data-bind: "textInput: email", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-password"} Password
                    .col-sm-10
                      %input#input-password.form-control{name: "password", placeholder: "Password", type: "password", value: "", data-bind: "value: password", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-confirm"} Password Confirm
                    .col-sm-10
                      %input#input-confirm.form-control{name: "confirm", placeholder: "Password Confirm", type: "password", value: "", data-bind: "value: confirmPassword", required: "required"}/
              %fieldset#address
                %legend Billing information
                .stepWrapper{data-bind: "visible: currentStep() === 2"}
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-address-1"} Address 1
                    .col-sm-10
                      %input#input-address-1.form-control{name: "addressOne", placeholder: "Address 1", type: "text", value: "", data-bind: "textInput: addressOne", required: "required"}/
                  .form-group
                    %label.col-sm-2.control-label{for: "input-address-2"} Address 2
                    .col-sm-10
                      %input#input-address-2.form-control{name: "address_2", placeholder: "Address 2", type: "text", value: "", data-bind: "textInput: addressTwo"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-city"} City
                    .col-sm-10
                      %input#input-city.form-control{name: "city", placeholder: "City", type: "text", value: "", data-bind: "textInput: city", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-postcode"} Post Code
                    .col-sm-10
                      %input#input-postcode.form-control{name: "postcode", placeholder: "Post Code", type: "text", value: "", data-bind: "textInput: postCode", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "county"} County / State
                    .col-sm-10
                      %input#input-zone.form-control{name: "county", placeholder: "County", type: "text", value: "", data-bind: "textInput: county", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-country"} Country
                    .col-sm-10
                      %select#input-country.form-control{name: "country_id", required: "required", data-bind: "options: countries, optionsValue: 'val', optionsText: 'label', value: selectedCountry, optionsCaption: 'Please select'"}
              %fieldset#payment
                %legend Payment information
                .stepWrapper{data-bind: "visible: currentStep() === 3"}
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-card-type"} Card type
                    .col-sm-10
                      %select#input-card-type.form-control{name: "card-type", required: "required", data-bind: "options: cardTypes, optionsValue: 'val', optionsText: 'label', value: selectedCardType, optionsCaption: 'Card type'"}
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-card-number"} Card number
                    .col-sm-10
                      %input#input-card-number.form-control{name: "card_number", placeholder: "Card number", type: "number", value: "", data-bind: "value: cardNumber", required: "required"}/
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-expiry-date"} Expiry date
                    .col-sm-5
                      %select#input-expiry-date-month.form-control{name: "expiry_date_month", required: "required", data-bind: "options: expiryDateMonths, optionsValue: 'val', optionsText: 'label', value: selectedExpiryDateMonth, optionsCaption: 'Month'"}
                    .col-sm-5
                      %select#input-expiry-date-year.form-control{name: "expiry_date_year", required: "required", data-bind: "options: expiryDateYears, optionsValue: 'val', optionsText: 'label', value: selectedExpiryDateYear, optionsCaption: 'Year'"}
                  .form-group.required
                    %label.col-sm-2.control-label{for: "input-cvc"} CVC
                    .col-sm-10
                      %input#input-city.form-control{name: "cvc", placeholder: "CVC", type: "number", value: "", data-bind: "value: cvc", required: "required", pattern: "[0-9]{3}"}/
              %fieldset#confirmation
                .stepWrapper{data-bind: "visible: currentStep() === 3"}
                  .checkbox.pull-right
                    %label.checkbox-inline
                      %input.sbToggle{type: "checkbox", value: "", data-bind: "checked: terms"}
                      I have read and agree to the terms and conditions
              .buttons.pull-right
                %input.btn.btn-primary{type: "button", value: "Back", data-bind: "click: previousStep"}/
                %input.btn.btn-primary{type: "button", value: "Next", data-bind: "click: nextStep, visible: currentStep() < 3"}/
                %input.btn.btn-primary{type: "submit", value: "Submit", data-bind: "click: nextStep, visible: currentStep() === 3 "}/

    #pleaseWaitDialog.modal{data-backdrop: "static", data-keyboard: "false", role: "dialog", data-bind: "style: {display: submittingForm() === true ? 'inline' : 'none'}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title Processing form, please wait...
          .modal-body
            .progress
              .progress-bar.progress-bar-success.progress-bar-striped.active{aria-valuemax: "100", aria-valuemin: "0", aria-valuenow: "100", role: "progressbar", style: "width:100%; height: 40px"}

    #successDialog.modal{data-backdrop: "static", data-keyboard: "false", role: "dialog", data-bind: "style: {display: completed() === true ? 'inline' : 'none'}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title Registration complete!
          .modal-body
            %p
              We have sent you an email with an activation link, after&nbsp;
              you have activated your account you can start using WRLD&nbsp;
              to bring your maps to life.
          .modal-footer
            %button.btn.btn-default{type: "button", data-dismiss: "modal", onclick: "window.location.href='https://wrld3d.com/apikeys'"} Login

    // Scripts
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}/
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}/
    %script{src: "bundle.js"}/

