@charset "UTF-8"

.navbar, .navbar-inverse
  border-radius: 0
  border: none
  margin-bottom: 0
  min-height: 50px
  background-color: #0690c4

.nav li
  display: inline
  color: white

.navbar-inverse .navbar-nav
  > li > a
    color: #ffffff
  li a:hover
    background-color: #0690c4
    transition: 0.7s all linear
    height: 100%

button, .btn
  background: none
  border: none
  display: inline-block
  padding: 0
  outline: none
  outline-offset: 0
  cursor: pointer
  -webkit-appearance: none
  -moz-transition: 0.3s all ease
  -o-transition: 0.3s all ease
  -webkit-transition: 0.3s all ease
  transition: 0.3s all ease

button::-moz-focus-inner, .btn::-moz-focus-inner
  border: none
  padding: 0

button:focus, .btn:focus
  outline: none

label
  font-size: 13px
  color: #292929
  font-weight: bold
  cursor: default

@media (min-width: 768px) and (max-width: 991px)
  label
    font-size: 10px

textarea
  resize: none

blockquote
  font-size: inherit
  line-height: inherit

.input-group-btn:last-child >
  .btn, .btn-group
    z-index: auto

@media (max-width: 479px)
  .alert
    padding-right: 30px
    button.close
      right: 5px

.nav .open > a
  background: none
  text-decoration: none
  &:hover, &:focus
    background: none
    text-decoration: none

body
  font: 400 14px/21px "Open Sans", sans-serif
  color: #858585
  background: #191919

h1, h2, h3, h4, h5, h6
  color: #292929
  margin: 0 0 20px
  line-height: normal
  font-weight: bold
  text-transform: uppercase

h1
  font-size: 24px
  line-height: 30px
  margin-bottom: 0
  margin-top: 30px
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
  overflow: hidden
  i
    margin-right: 10px
    color: #00bcd4
    font-size: 45px
    &:before
      vertical-align: middle
  &:after
    content: ''
    height: 1px
    display: block
    background: #e1e1e1
    margin: 10px 0 30px
  &.no-line
    margin-bottom: 30px
    &:after
      display: none

h2
  font-size: 24px
  line-height: 30px
  letter-spacing: 1px

h3
  font-size: 18px
  line-height: 24px

h4
  font-size: 17px
  line-height: 24px

h5
  font-size: 16px

h6
  font-size: 10.2px

a
  display: inline-block
  font: inherit
  color: inherit
  text-decoration: none
  max-width: 100%
  -moz-transition: 0.3s all ease
  -o-transition: 0.3s all ease
  -webkit-transition: 0.3s all ease
  transition: 0.3s all ease
  &:active
    background-color: transparent
  &:visited, &:focus
    color: inherit
    outline: none
    text-decoration: none
  &:hover
    text-decoration: none
    color: #00bcd4

p a
  color: #00bcd4
  &:visited, &:focus
    color: #00bcd4
  &:hover, &:visited:hover, &:focus:hover
    text-decoration: underline

img
  max-width: 100%
  height: auto

legend
  font-size: 18px
  padding: 7px 0px

label
  font-size: 12px
  font-weight: normal

.input-group .input-group-addon
  height: 30px

.nav-tabs
  margin-bottom: 15px

div.required .control-label:after
  content: '*'
  color: #ee372a
  font-weight: bold
  margin-left: 5px

.fa
  line-height: inherit
  font-family: inherit
  &:before
    font-family: "FontAwesome"

#page > .ie-warning
  position: relative
  text-align: center
  display: none
  clear: both

@media (min-width: 768px)
  .lt-ie11 #page > .ie-warning
    display: block

header
  background: #fff
  margin-bottom: 25px

.common-home header
  margin-bottom: 0

header
  .navigation
    text-align: center
  .top-line
    position: relative
    background: #292929
    padding: 12px 0 13px
    color: #fff
  .mid-line
    position: relative
    padding: 49px 0 18px
    text-align: center
  .bot-line
    position: relative
  .box-language, .box-currency, .top-menu
    display: inline-block
  .box-language + .box-currency
    margin-left: -1px
  .header_modules
    text-align: right
    float: right
    padding: 0 15px
    font-style: italic
    color: #858585
    font-size: 14px
  .logo
    position: relative
    display: block
    text-align: left
    > a
      vertical-align: top
  .box-cart, .wishlist
    position: absolute
    bottom: -63px
    z-index: 2
  .box-cart
    right: 15px
  .wishlist
    right: 86px
    i
      color: #292929
      float: left
      font-size: 19px
      margin-right: 7px
      -moz-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease
    span
      -moz-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      background: #00bcd4
      color: #fff
      display: inline-block
      font-size: 12px
      font-weight: 400
      height: 20px
      line-height: 20px
      text-align: center
      width: 20px
    &:hover i
      color: #00bcd4

.toggle-wrap
  position: relative

.toggle-wrap-single
  position: relative
  display: inline-block
  float: right
  margin-left: 50px
  a
    font-size: 14px
    line-height: 24px
    font-weight: 400
    padding: 0
    color: #fff
    text-transform: none
    i
      position: absolute
      left: -22px
      font-size: 14px
      color: #fff
      -moz-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease
    &:before
      content: ""
      position: absolute
      bottom: 3px
      background: rgba(255, 255, 255, 0.8)
      left: 0
      height: 1px
      display: inline-block
      width: 100%
      -moz-transition: all 0.2s ease
      -o-transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease
    &:hover, &.current
      color: #858585
      background: transparent
    &:hover i, &.current i
      color: #858585
    &:hover:before, &.current:before
      width: 0

.toggle_cont
  display: none
  background: #f4f6f7
  padding: 10px 0
  list-style-type: none
  position: absolute
  left: 0
  top: 100%
  width: 190px
  line-height: 27px
  z-index: 999
  > li >
    a, button
      text-align: left
      display: block
      width: 100%
      padding: 2px 18px
      font-weight: 400
      font-size: 14px
      color: #292929
    a:hover, button:hover
      background: transparent
      color: #00bcd4
  ul
    font-size: 16px
    z-index: 999
    li + li
      border-top: 0

.toggle_cont__right
  left: 0px
  top: 38px
  > li > a:hover
    background: transparent
    color: #00bcd4

@media (min-width: 768px)
  header .nav
    float: left
    padding-right: 30px
    >
      .toggle
        display: none
      .toggle_cont
        display: block !important
        position: static
        padding: 0
        margin: 0
        background: none
        line-height: 24px
        font-size: 14px
        color: #858585
        width: auto
        > li
          display: inline-block
          position: relative
          margin-right: 30px
          > a
            display: inline-block
            font-size: 14px
            font-weight: 400
            padding: 0
            color: #858585
            text-transform: none
            &:before
              content: ""
              position: absolute
              bottom: 3px
              background: rgba(133, 133, 133, 0.8)
              left: 0
              height: 1px
              display: inline-block
              width: 100%
              -moz-transition: all 0.2s ease
              -o-transition: all 0.2s ease
              -webkit-transition: all 0.2s ease
              transition: all 0.2s ease
            &:hover, &.current
              background: transparent
              color: #fff
            &:hover:before, &.current:before
              width: 0

@media (max-width: 767px)
  header .nav
    position: fixed
    top: 0
    margin: 0
    z-index: 10000
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    -webkit-transition: 0.5s all ease
    transition: 0.5s all ease
    .toggle-wrap
      .toggle
        display: none
      .toggle_cont
        display: block !important
        height: auto !important
        position: static
        padding: 0
        -moz-transition: 0
        -o-transition: 0
        -webkit-transition: 0
        transition: 0
        li + li
          border-top: 0

.box-language, .box-currency
  float: right
  padding: 0
  margin: 0 20px 0 30px
  line-height: 23px

.box-language .toggle, .box-currency .toggle
  display: inline-block
  font-size: 14px
  line-height: 24px
  font-weight: 400
  padding: 0
  color: #fff
  cursor: pointer
  text-transform: none
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  -webkit-transition: all 0.3s ease
  transition: all 0.3s ease

.box-language .toggle:before, .box-currency .toggle:before
  content: ""
  position: absolute
  bottom: 3px
  background: rgba(255, 255, 255, 0.8)
  left: 0
  height: 1px
  display: inline-block
  width: 100%
  -moz-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  -webkit-transition: all 0.25s ease
  transition: all 0.25s ease

.box-language .toggle:after, .box-currency .toggle:after
  display: inline-block
  content: '\f107'
  font-size: 14px
  font-family: "FontAwesome"
  position: absolute
  right: -20px
  top: 2px

.box-language .toggle
  &.active, &:hover
    color: #858585

.box-currency .toggle
  &.active, &:hover
    color: #858585

.box-language .toggle
  &.active:before, &:hover:before
    width: 0

.box-currency .toggle
  &.active:before, &:hover:before
    width: 0

.box-language .toggle_cont, .box-currency .toggle_cont
  left: auto
  right: 0
  top: 37px
  padding: 10px 0
  margin: 0

.box-language .toggle_cont > li >
  a
    &:hover, &.selected
      background: transparent
      color: #00bcd4
  button
    &:hover, &.selected
      background: transparent
      color: #00bcd4

.box-currency .toggle_cont > li >
  a
    &:hover, &.selected
      background: transparent
      color: #00bcd4
  button
    &:hover, &.selected
      background: transparent
      color: #00bcd4

.box-language .toggle_cont > li + li, .box-currency .toggle_cont > li + li
  border-top: 0

@media (max-width: 1199px)
  header
    .nav > .toggle_cont > li
      margin-right: 20px
    .header_modules
      padding: 0

@media (max-width: 991px)
  header
    .header_modules
      text-align: right
    .html-module
      padding-bottom: 13px

@media (max-width: 767px)
  header
    .header_modules
      padding: 3px 0 0
      float: none
      text-align: left
    .wishlist
      right: 15px
      top: -30px
      bottom: auto
    .mid-line
      padding: 25px 0
    .html-module
      padding: 0
    .logo
      margin-bottom: 0
      img
        display: inline-block
    .box-cart
      float: none
      margin-top: 0
      width: auto
      z-index: 10001
    .nav
      width: auto
      .toggle_cont
        right: -55px
        left: auto
        > li
          a
            font-weight: 400
            padding-left: 10px
            span b
              font-weight: 400
          + li
            padding-left: 0
    .toggle-wrap-single
      margin-left: 33px
    .box-language, .box-currency
      margin: 0 20px 0 10px
    .box-language .toggle_cont, .box-currency .toggle_cont
      top: 37px
    .toggle_cont > li
      margin: 0 !important

@media (max-width: 480px)
  header
    .header_modules
      text-align: right
      padding: 0 0 7px
    .logo
      padding: 0 52px 0 0
    .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7
      width: 100%
      float: none
  .box-language .toggle_cont, .box-currency .toggle_cont
    right: -52px

#page
  background: #f4f4f4
  overflow: hidden

.rd-navbar-wrap
  position: relative
  z-index: 10
  height: 260px

.content-box-1
  padding: 80px 0

.color-box-2
  background: #292929
  padding: 62px 0 12px
  margin-bottom: -1px

.box
  &.account ul, &.affilate ul
    padding: 0
    list-style-type: none
  &.account ul li + li, &.affilate ul li + li
    border-top: 1px solid #e1e1e1
  &.account ul a, &.affilate ul a
    position: relative
    background: #f5f5f5
    display: block
    padding: 13px 15px
  &.account ul a:hover, &.affilate ul a:hover
    background: #00bcd4
    color: #777
  &.account ul a:hover, &.affilate ul a:hover
    color: #00bcd4

.manufacturer-content div, #content ul.list-unstyled
  margin: 0
  list-style-type: none

.manufacturer-content div li + li, #content ul.list-unstyled li + li
  margin-top: 10px

.manufacturer-content div a, #content ul.list-unstyled a
  position: relative
  color: #292929

.manufacturer-content div a:hover, #content ul.list-unstyled a:hover
  color: #00bcd4

.manufacturer-content div a:before
  content: '\e11d'
  margin-right: 5px
  font-weight: 400
  position: relative
  top: 3px
  font-size: 20px
  font-family: "material-design"
  color: #00bcd4

#content
  ul.list-unstyled a:before
    content: '\e11d'
    margin-right: 5px
    font-weight: 400
    position: relative
    top: 3px
    font-size: 20px
    font-family: "material-design"
    color: #00bcd4
  .product-info ul.list-unstyled a:before
    display: none

@media (max-width: 767px)
  aside
    margin-top: 20px
    .container
      padding: 0
      width: 100%

@media (max-width: 480px)
  .col-sm-3 .img-thumbnail
    float: none
    margin: 0 0 20px
    width: 100%
  .top .col-xs-6
    width: 100%
  .color-box-1
    padding: 20px 0
  .color-box-2
    padding: 50px 0

.lazy
  display: block
  position: relative
  height: 0
  overflow: hidden
  background: transparent url(../image/lazy-loader.gif) no-repeat center center
  img
    position: absolute
    top: 50%
    left: 0
    right: 0
    bottom: 0
    text-align: center
    height: auto
    z-index: 0
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    -moz-transition: 1s all ease
    -o-transition: 1s all ease
    -webkit-transition: 1s all ease
    transition: 1s all ease
    opacity: 0
    -webkit-backface-visibility: hidden
  &.lazy-loaded
    background: none
    img
      opacity: 1

.search
  position: relative
  width: 100%
  margin: 0
  float: right
  input[type="text"]
    color: #292929
    display: block
    margin: 0
    font-size: 14px
    line-height: 18px
    text-transform: none
    font-weight: 400
    padding: 0 50px 0 30px
    width: 100%
    height: 47px
    background: #f7f7f7
    border: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    &:focus
      outline: none
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
      color: #292929 !important
      opacity: 1
      font-style: italic
    &:focus
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
        color: transparent !important
  button
    background: none
    border: none
    display: inline-block
    padding: 0
    outline: none
    outline-offset: 0
    cursor: pointer
    -webkit-appearance: none
    -moz-transition: 0.3s all ease
    -o-transition: 0.3s all ease
    -webkit-transition: 0.3s all ease
    transition: 0.3s all ease
    position: absolute
    top: 0
    right: 30px
    background: transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    padding: 0
    color: #292929
    font: 400 14px/47px "FontAwesome"
    &:focus, &:active
      background: none
      border: none
      display: inline-block
      padding: 0
      outline: none
      outline-offset: 0
      cursor: pointer
      -webkit-appearance: none
      -moz-transition: 0.3s all ease
      -o-transition: 0.3s all ease
      -webkit-transition: 0.3s all ease
      transition: 0.3s all ease
      position: absolute
      top: 0
      right: 30px
      background: transparent
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      padding: 0
      color: #292929
      font: 400 14px/47px "FontAwesome"
    &::-moz-focus-inner, &:focus::-moz-focus-inner, &:active::-moz-focus-inner
      border: none
      padding: 0
    &:hover, &:focus:hover, &:active:hover
      color: #00bcd4

#livesearch_search_results
  margin: 3px 0 0
  padding: 1px
  position: absolute
  top: 100%
  width: 100%
  left: 0
  background-color: #f4f6f7
  list-style-type: none
  z-index: 12
  font-size: 14px
  line-height: 24px
  max-height: 500px
  overflow-y: auto
  overflow-x: hidden
  text-align: left
  li
    border-bottom: 1px solid #eee
    padding-bottom: 3px
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    img
      float: left
      margin-right: 10px
      &.loading
        background: #eee
    &:hover, &.highlighted
      background: #eee
    &:hover a, &.highlighted a
      color: #00bcd4
      &:visited
        color: #00bcd4
    + li
      padding-top: 3px
  a
    display: block
    padding: 5px
    color: #858585
    &:visited
      display: block
      padding: 5px
      color: #858585
    &:before, &:after
      display: table
      content: ""
      line-height: 0
    &:visited
      &:before, &:after
        display: table
        content: ""
        line-height: 0
    &:after, &:visited:after
      clear: both
    &:hover, &:visited:hover
      color: #00bcd4

@media (min-width: 768px) and (max-width: 991px)
  #livesearch_search_results li img
    display: none !important

@media (max-width: 767px)
  .search
    margin: 25px 0 0
    float: right
    input[type="text"]
      padding: 0 45px 0 15px
      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
        opacity: 0
    button
      right: 20px

.box-cart
  position: relative
  font-size: 13px
  .btn-remove-wrap, .btn-remove__cnt
    position: absolute
    left: 0
    right: 0
  .btn-remove-wrap i, .btn-remove__cnt i
    font-size: 20px
  .btn-remove-wrap
    top: 0
    bottom: 0
    z-index: 10
    color: #fff
    display: none
    background: #eee
  .btn-remove__cnt
    top: 50%
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    .link
      display: inline-block
      margin: 0 13px
      color: #00bcd4
      &:hover
        color: #292929
  .btn-danger
    border: 0
    padding: 0
    color: #00bcd4
    font-size: 15px
    background: none
    &:focus
      border: 0
      padding: 0
      color: #00bcd4
      font-size: 15px
      background: none
    &:hover
      color: #00bcd4
      background: none
    &:focus
      &:hover
        color: #00bcd4
        background: none
      box-shadow: none
  a:hover img
    opacity: .6
  .fl-left
    float: left
    width: 25%
  .fl-right
    float: right
    width: 62%
    margin-right: 7%
    line-height: 28px
  .btn-remove
    position: absolute
    right: 8px
    top: 11px
    line-height: 20px
    color: #00bcd4
    i
      font-size: 18px
      line-height: 20px
      -moz-transition: 0.4s all ease
      -o-transition: 0.4s all ease
      -webkit-transition: 0.4s all ease
      transition: 0.4s all ease
    &:hover
      color: #292929

.cart
  position: relative
  > button
    text-transform: uppercase
    position: relative
    text-align: center
    i, strong, span
      vertical-align: middle
      font-weight: 400
      -moz-transition: 0.4s all ease
      -o-transition: 0.4s all ease
      -webkit-transition: 0.4s all ease
      transition: 0.4s all ease
    i
      color: #292929
      float: left
      font-size: 19px
      margin-right: 7px
      -moz-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease
    span
      -moz-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      background: #00bcd4
      color: #fff
      display: inline-block
      font-size: 12px
      font-weight: 400
      height: 20px
      line-height: 20px
      text-align: center
      width: 20px
    &.active i, &:hover i
      color: #00bcd4
    &.active span, &:hover span
      color: #fff
  .cart-remove-btn
    margin-left: 5px
    &:before
      vertical-align: middle
      margin-right: 5px
    > span
      vertical-align: middle
  .btn-l, .btn-r
    float: left
    width: 49.3%
    padding-left: 5px
    padding-right: 5px
    font-size: 14px
    color: #fff
    background: #00bcd4
  .btn-l:hover
    background: #292929
    color: #fff
  .btn-r
    &:hover
      background: #292929
      color: #fff
    float: right
  .name
    margin-bottom: 10px
    a
      text-transform: none
      line-height: 21px
      font-size: 16px
      font-weight: 400
      &:hover
        color: #00bcd4
  .quant
    background: #eee
    padding: 3px 12px
    margin: 0 10px 0 0
    font-size: 16px
    color: #858585
  .price-cart
    color: #000
    font-weight: bold
    font-size: 16px
  .toggle_cont
    z-index: 1001
    min-width: 279px
    padding: 0
    max-height: 434px
    right: 0
    left: auto
    top: 100%
    list-style-type: none
    color: #292929
    margin: 12px 0 0
    border: 0
    overflow-y: auto
    overflow-x: hidden
    text-align: left
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
    p
      margin: 0
      font-size: 16px
    > li
      position: relative
      overflow: hidden
      padding: 12px
      + li
        border-top: 1px solid #eee
    .total
      list-style-type: none
      > .t-row
        position: relative
        overflow: hidden
        font-size: 16px
        > div
          width: 60%
          float: left
          line-height: 28px
          vertical-align: middle
          b
            font-weight: 400
            color: #292929
          + div
            width: 40%
          em
            color: #292929
            font-style: normal
            font-weight: bold

@media (max-width: 767px)
  .cart
    position: fixed
    top: 0
    margin: 0
    z-index: 10000
    > button
      position: relative
      .cart-total, strong
        display: none
      .cart-total2
        margin-left: 7px
    .toggle_cont
      max-height: 260px
      overflow: auto
      right: -30px
      margin: 0
      overflow-y: auto
      overflow-x: hidden

.product-layout
  margin-bottom: 30px

.product-thumb
  background: #fff
  position: relative
  overflow: hidden
  padding: 30px
  .image
    margin-bottom: 0
    position: relative
    background: #fff
    img
      -moz-transition: all 0.5s ease
      -o-transition: all 0.5s ease
      -webkit-transition: all 0.5s ease
      transition: all 0.5s ease
      margin: 0 auto
    .img-primary, .img-secondary
      opacity: 0
    .lazy-loaded
      display: block
      .img-primary
        opacity: 1
      .img-secondary
        opacity: 0
    &:hover .lazy-loaded
      .img-primary
        opacity: 0
      .img-secondary
        opacity: 1
  .caption
    position: relative
    padding: 0
    margin: 25px 0 0
    .description
      color: #858585
      padding-top: 5px

.product-list .product-thumb .caption
  display: none

.product-thumb
  .caption .cart-buttons
    position: relative
    padding: 10px 0 0
  &:hover .caption .cart-buttons
    opacity: 1
    .product-btn
      -moz-transform: translate3d(0, 0, 0)
      -ms-transform: translate3d(0, 0, 0)
      -o-transform: translate3d(0, 0, 0)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
      &:nth-child(2)
        -moz-transition-delay: 0.05s
        -o-transition-delay: 0.05s
        -webkit-transition-delay: 0.05s
        transition-delay: 0.05s
      &:nth-child(3)
        -moz-transition-delay: 0.1s
        -o-transition-delay: 0.1s
        -webkit-transition-delay: 0.1s
        transition-delay: 0.1s
      &:nth-child(4)
        -moz-transition-delay: 0.15s
        -o-transition-delay: 0.15s
        -webkit-transition-delay: 0.15s
        transition-delay: 0.15s

@media (min-width: 767px)
  .product-thumb .caption .cart-buttons
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 25px 0
    text-align: center
    background: rgba(255, 255, 255, 0.95)
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease
    opacity: 0
    .product-btn
      -moz-transform: translate3d(0, 15px, 0)
      -ms-transform: translate3d(0, 15px, 0)
      -o-transform: translate3d(0, 15px, 0)
      -webkit-transform: translate3d(0, 15px, 0)
      transform: translate3d(0, 15px, 0)
      &:nth-child(2)
        -moz-transition-delay: 0.05s
        -o-transition-delay: 0.05s
        -webkit-transition-delay: 0.05s
        transition-delay: 0.05s
      &:nth-child(3)
        -moz-transition-delay: 0.1s
        -o-transition-delay: 0.1s
        -webkit-transition-delay: 0.1s
        transition-delay: 0.1s
      &:nth-child(4)
        -moz-transition-delay: 0.15s
        -o-transition-delay: 0.15s
        -webkit-transition-delay: 0.15s
        transition-delay: 0.15s

.owl-carousel .owl-item img
  width: auto !important

.megamenu_module .box
  .box-heading
    display: none
  .product-thumb
    background: transparent
    margin: 0 30px
    .caption
      margin: 30px 0 0
      .name a
        text-transform: none
        font-size: 16px
        line-height: 21px
      .product-btn, .cart-buttons
        display: none

.product-thumb
  position: relative
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  .aside
    display: none
  .name > a
    display: inline
    line-height: 21px
    font-size: 16px
    font-weight: bold
    text-transform: none
    color: #292929
    &:hover
      color: #00bcd4
  .description
    margin-top: 5px

.product-list
  .product-thumb
    .caption, .cart-buttons
      overflow: hidden
    margin-bottom: 30px
    overflow: visible
    .image
      float: left
      width: 23%
      position: relative
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box
    .caption
      text-align: left
      padding-top: 0
      float: left
      display: none
    .aside
      width: 74%
      text-align: left
      margin-left: 3%
      float: left
      display: block
      .btn
        margin-bottom: 8px
        margin-right: 5px
        font-size: 14px
        letter-spacing: .2px
      .price
        margin-bottom: 20px
        position: relative
        overflow: hidden
        top: 0
        bottom: 0
        display: block
    >
      .price, .cart-buttons, .price, .cart-buttons, .cart-buttonss
        display: none
    .description-large
      padding: 10px 0 15px
    margin-bottom: 0
  + .product-list .product-thumb
    border-top: 0

@media (min-width: 768px)
  .product-list .product-thumb
    &:before
      display: table
      content: ""
      line-height: 0
    &:after
      display: table
      content: ""
      line-height: 0
      clear: both

.clearfix + .product-list .product-thumb
  border-top: 0
  padding-top: 30px

.product-grid .product-thumb
  .image
    float: none
  .description-large
    display: none

.sale, .new-pr
  background: none
  display: inline-block
  font-size: 14px
  line-height: 19px
  position: absolute
  padding: 2px 10px
  bottom: -11px
  border-radius: 0
  text-transform: none
  font-weight: 400
  text-align: center
  color: #fff
  left: 50%
  z-index: 1
  letter-spacing: .5px
  -moz-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)

[lang="ru"]
  .sale, .new-pr
    font-size: 12px
    font-weight: 500
    letter-spacing: 0
    width: 70px

.ajax-quickview
  .sale, .new-pr
    bottom: 0

.sale
  background: red

.new-pr
  background: #00bcd4

.discount
  position: relative
  float: right
  color: #f44336
  font-weight: bold
  font-size: 16px
  margin-left: 10px

.product-thumb
  .price-new
    font-size: 16px
    font-weight: bold
    line-height: 33px
    color: #292929
  .price
    font-size: 16px
    font-weight: bold
    line-height: 33px
    color: #292929
    position: relative
    .price-new
      float: left
    .price-old
      float: left
      float: left
      margin: 0 5px

.price-new, .price-old
  display: inline-block
  font-size: 16px
  font-weight: bold
  line-height: 33px
  color: textPrimary

.price
  display: inline-block
  font-size: 16px
  font-weight: bold
  line-height: 33px
  color: textPrimary
  padding: 0
  .price-old
    font-size: 16px
    line-height: 33px
    color: #858585
    font-weight: 400
    float: left

.price-old
  position: relative
  font-size: 18px
  line-height: 24px
  color: #b9b9b9
  padding: 0 1px
  font-weight: 600
  &:before
    display: inline-block
    position: absolute
    left: 0
    right: 0
    height: 1px
    background: #b9b9b9
    content: ""
    top: 52%

.price-section
  margin-top: 20px
  font-weight: 700
  .price-new, .price-section .price-old
    font-size: 30px
    color: #292929
    line-height: 30px
  .price-old
    font-size: 20px
    line-height: 30px
  .reward
    display: block
    margin-top: 10px

.price-tax
  font-size: 12px

.price-total
  font-weight: bold

.price s
  font-size: 15px

.stock, .out-stock
  font-weight: 700

.stock
  color: #00bcd4

.out-stock
  color: #EE372A

.product-thumb
  .price-tax
    color: #999
    font-size: 12px
    display: block
  .rating
    top: -20px
    padding: 0
    position: absolute
    text-align: center
    left: 0
    right: 0

.product-compare .product-thumb .rating
  position: relative
  top: 0

.fa-stack
  font-size: 17px
  line-height: 13px
  width: 0.9em
  height: 17px
  i
    color: #e2e2e2
    &.star
      color: #00bcd4

.fa-stack-2x
  font-size: 1em

.product-thumb .fa-stack
  font-size: 14px

.rat
  color: #00bcd4

.quick_info
  display: none

.fancybox-skin:hover .fancybox-nav span
  visibility: visible

.fancybox-nav
  height: 40px
  top: 50%
  width: 40px

.fancybox-next
  right: -60px

.fancybox-prev
  left: -60px

.quickview_description
  overflow: auto
  max-height: 300px
  border: 1px solid #e1e1e1
  padding: 10px
  margin-top: 15px
  iframe
    width: 40% !important
    height: 200px !important
    float: left
    margin-right: 2em

.quickview-style
  h2
    text-align: left
  .inf
    font-size: 14px
    margin-bottom: 10px
  .product-btn-add, .cart-buttons
    margin-top: 10px
  .rating
    margin-top: 5px

.product-thumb .product-options
  display: none

.ajax-overlay
  .product-options
    position: relative
    display: inline-block
    vertical-align: middle
    max-width: 450px
    min-width: 300px
    padding-bottom: 0
    border-bottom: none
    max-height: 80%
    backface-visibility: hidden
    h3
      margin-top: 0
    .col-sm-8
      text-align: left
    .options
      padding: 20px
      text-align: center
      background: #FFF
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8)
      -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8)
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8)
    .ajax-overlay_close
      position: absolute
      right: 10px
      top: 10px
      font-size: 16px
      color: rgba(0, 0, 0, 0.5)
      font-family: "material-design"
      text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2)
      &:before
        content: '\e054'
      &:hover
        color: #000
  .product-option-wrap
    text-align: center
    height: 100%
    &:before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  visibility: hidden
  opacity: 0
  -moz-transition: opacity 0.3s ease-in-out
  -o-transition: opacity 0.3s ease-in-out
  -webkit-transition: opacity 0.3s ease-in-out
  transition: opacity 0.3s ease-in-out
  z-index: 997
  &.visible
    opacity: 1
    background: rgba(0, 0, 0, 0.7)
    visibility: visible

.img-thumbnail-radio
  margin-right: 10px
  width: 20px
  height: 20px
  position: relative
  top: -2px

@media (max-width: 1200px)
  .product-thumb .button-group button
    width: 33.33%
    + button
      width: 33.33%

@media (max-width: 991px)
  .megamenu_module .box .product-thumb
    margin: 0 20px

@media (min-width: 768px) and (max-width: 991px)
  aside .product-thumb .product-btn
    margin: 2px 0
    min-width: 120px
    font-size: 12px
    padding: 6px 13px

@media (min-width: 768px)
  .box .box-content .last
    clear: left
  .fancybox-next
    right: -30px
  .fancybox-prev
    left: -30px
  .product-reviews .fa-stack
    font-size: 14px

@media (max-width: 767px)
  .megamenu_module .box .product-thumb
    margin: 15px 10px 0
    .name a
      padding: 0
      &:hover
        color: #fafafa
    .price .price-new
      color: #fff
  .col-sm-3 .img-thumbnail
    margin: 0 20px 20px 0
    float: left
  .product-thumb .caption
    margin-bottom: 0
  #content .product-layout
    width: 50%
    float: left
    margin-bottom: 29px
    &:nth-child(2n+3)
      clear: left
    + .product-layout
      margin-top: 0
    &.clr
      clear: both
  .quickview_description iframe
    float: none
    width: 100% !important
    margin: 0 0 2em
  .product-list .product-thumb
    .image, .caption, .aside
      float: none
      margin: 0 0 15px
      width: 100%
  .product-grid .product-thumb
    .image, .caption, .aside
      float: none
      margin: 0 0 15px
      width: 100%
  .product-list .product-thumb .aside, .product-grid .product-thumb .aside
    display: none
  .product-list .product-thumb .caption, .product-grid .product-thumb .caption
    border-right: none
  .product-list .product-thumb
    > .price, .cart-buttons
      display: block
  .product-grid .product-thumb
    > .price, .cart-buttons
      display: block
  .product-list + .product-list .product-thumb
    border: 0
  .clearfix + .product-list .product-thumb
    padding: 0
  .product-list .product-thumb .caption
    display: block
    text-align: center
    .cart-buttons
      display: block

@media (max-width: 640px)
  .panel-group .product-thumb
    width: 320px
    margin: 0 auto

@media (max-width: 600px)
  .quickview_description iframe, .product-desc iframe
    height: 240px !important
  .box .product-layout[class*="col-xs"]
    width: 100% !important

@media (max-width: 540px)
  #content .product-layout
    width: 100%
    float: none
  .product-thumb .product-options
    max-width: 95%
    [class*="col-xs"]
      float: left
      + [class*="col-xs"]
        margin-top: 0 !important

@media (max-width: 480px)
  .panel-group .product-thumb
    width: 256px
  .product-thumb
    width: 270px
    margin: 0 auto
  #button-voucher
    font-size: 11px

.box
  margin-bottom: 20px
  &.specials
    margin-bottom: 0
  .box-heading
    padding: 0 0 24px
    h3
      margin: 0
      font: bold 24px/30px "Open Sans", sans-serif
      letter-spacing: 0

aside
  .box
    margin-bottom: 20px
    .box-heading
      margin-bottom: 20px
      padding: 0 0 15px
      text-transform: uppercase
      text-align: left
      border-bottom: 1px solid #e1e1e1
      h3
        font: 500 24px/30px "Open Sans", sans-serif
        letter-spacing: 0
    .product-layout
      width: 100%
      + .product-layout
        margin-top: 0px
    &.blog_articles
      position: relative
      overflow: hidden
  [class*="col-"], .container
    width: 100%
    padding: 0
  .row
    margin: 0

@media (max-width: 1199px)
  aside .box.blog_articles .owl-carousel .owl-nav div
    top: 30%

@media (max-width: 991px)
  aside .box.blog_articles .owl-nav
    display: none

@media (max-width: 1199px)
  .box .box-heading
    max-width: 940px

@media (min-width: 768px) and (max-width: 991px)
  .box.info .box-content ul a
    padding: 13px 5px
  aside .box .box-heading h3
    font-size: 16px

@media (max-width: 991px)
  .box .box-heading
    max-width: 725px

@media (max-width: 767px)
  aside .box .box-heading
    position: relative
    cursor: pointer
    padding: 10px 0
    margin-bottom: 35px
    border: 1px solid #ddd
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    h3
      text-align: left
      padding: 0 35px 0 20px
    &:after
      content: '\f055'
      position: absolute
      right: 15px
      top: 16px
      font-size: 21px
      font-family: "FontAwesome"
      color: #292929
    &.active:after
      content: '\f056'
  .box .box-heading
    max-width: 450px

@media (max-width: 480px)
  .box .box-heading
    max-width: 270px
    margin-bottom: 20px
    padding-bottom: 15px
    h3
      font-size: 22px
      line-height: 26px

@media (min-width: 550px) and (max-width: 767px)
  aside .box .product-thumb
    width: 60%
    margin: 0 auto 30px

#button-search + h2
  margin-top: 15px

.buttons
  margin: 1em 0
  &:before
    display: table
    content: ""
    line-height: 0
  &:after
    display: table
    content: ""
    line-height: 0
    clear: both
  .btn
    margin-bottom: 10px
    margin-left: 10px
    &:hover
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
    i, span
      vertical-align: middle
    i
      font-size: 24px
      margin: 0 5px
      display: inline-block
      line-height: 21px
  .pull-right
    .btn:hover
      color: #fff
      background: #292929
    [for="agree1"] + .btn
      margin-bottom: 0

.input-group-btn .btn i
  font-size: 15px
  line-height: 18px

.agree
  b
    -moz-transition: 0.3s all ease
    -o-transition: 0.3s all ease
    -webkit-transition: 0.3s all ease
    transition: 0.3s all ease
  &:hover b
    color: #00bcd4

.btn, .btn-1, .btn-default, .btn.btn-primary, input.btn.btn-primary, .btn-primary, .btn-success, .btn-info, .btn-warning, .product-btn-add
  position: relative
  overflow: hidden
  text-transform: uppercase
  padding: 12px 23px
  font-weight: bold
  line-height: 24px
  font-size: 16px
  color: #fff
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease
  -webkit-transition: all 0.4s ease
  transition: all 0.4s ease
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  display: inline-block
  background: #00bcd4
  letter-spacing: .6px
  text-decoration: none
  z-index: 1

.btn:hover, .btn-1:hover, .btn-default:hover, .btn.btn-primary:hover, input.btn.btn-primary:hover, .btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .product-btn-add:hover
  color: #fff
  background: #292929

[lang="ru"]
  .btn, .btn-1, .btn-default, .btn.btn-primary, input.btn.btn-primary, .btn-primary, .btn-success, .btn-info, .btn-warning, .product-btn-add
    font-size: 13px
    letter-spacing: 0

.btn
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-1
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-default
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn.btn-primary
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

input.btn.btn-primary
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-primary
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-success
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-info
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-warning
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.product-btn-add
  &:visited, &:focus
    background: #00bcd4
    color: #fff
    outline: none !important
    text-decoration: none

.btn-primary
  &.active, &:active
    background: #00bcd4
    color: #fff

.open > .dropdown-toggle.btn-primary
  background: #00bcd4
  color: #fff

.form-horizontal .input-group-btn .btn.btn-default:after
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

.account-return-add .btn.btn-default i
  display: block

.btn-icon
  i
    display: block
    font-size: 24px
    color: gray
  &:after
    display: none
  &:hover i
    color: #00bcd4

.product-btn
  position: relative
  margin: 0 3px
  font-size: 24px
  padding: 5px
  color: #d2dae3
  -moz-transition: 0.4s all ease
  -o-transition: 0.4s all ease
  -webkit-transition: 0.4s all ease
  transition: 0.4s all ease
  &:hover
    color: #00bcd4

.product-thumb .image > .quickview
  position: absolute
  left: 50%
  top: 50%
  display: inline-block
  opacity: 0
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  z-index: 1
  padding: 12px 15px
  letter-spacing: 0
  font-size: 16px
  line-height: 24px
  text-transform: uppercase
  font-weight: bold
  margin: 0
  color: #00bcd4
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease
  -webkit-transition: all 0.4s ease
  transition: all 0.4s ease
  background-color: #fff
  border: 1px solid #00bcd4
  z-index: 1

.megamenu .product-thumb .image > .quickview
  display: none

.product-thumb .image > .quickview
  &:hover
    background: #00bcd4
    color: #fff
  span
    position: relative
    z-index: 3

.product-buttons
  margin: 0
  padding: 0
  &:before
    display: table
    content: ""
    line-height: 0
  &:after
    display: table
    content: ""
    line-height: 0
    clear: both
  li
    display: inline-block
    margin-right: 10px
    margin-bottom: 15px
    list-style: none

#button-cart
  display: inline-block
  margin-right: 10px
  vertical-align: middle
  padding: 10px 20px
  letter-spacing: 0
  float: left
  &:disabled
    pointer-events: none
    opacity: .5

.tooltip-inner
  background: #00bcd4

[class][class].tooltip-arrow
  border-top-color: #00bcd4

@media (max-width: 1199px)
  .btn, .btn-1, .btn-default, .btn.btn-primary, .btn-primary, .btn-success, .btn-info, .btn-warning, .product-btn-add
    padding: 10px 13px
    letter-spacing: 0
    font-size: 14px

@media (max-width: 991px)
  .product-thumb .product-btn-add
    padding: 12px 15px
    font-size: 14px

@media (min-width: 992px) and (max-width: 1199px)
  .account-wishlist table td .btn
    padding: 10px

@media (min-width: 768px) and (max-width: 991px)
  .table-bordered > tbody > tr > .text-right
    padding: 5px
  .account-wishlist table td .btn
    padding: 6px

@media (max-width: 767px)
  #grid-view, #list-view, .product-btn.quickview, .product-thumb .image > .quickview
    display: none

@media (max-width: 479px)
  .buttons
    .pull-left, .pull-right
      float: none !important
      margin-left: 0
  #button-cart
    display: block
    margin: 15px 0
    width: 100%

@media (max-width: 410px)
  .account-address .table td a
    display: block
    + a
      margin-top: 5px

.btn-block .counter
  margin: 2px
  color: #333 !important
  &:hover
    color: #fff !important

select, textarea
  display: block
  width: 100%
  background: #fff
  border: 1px solid #e1e1e1
  color: #858585
  font-size: 14px
  height: 46px
  line-height: 28px
  padding: 9px 10px 9px 20px
  outline: none
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  -moz-transition: 0.3s all ease
  -o-transition: 0.3s all ease
  -webkit-transition: 0.3s all ease
  transition: 0.3s all ease
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

input
  &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"]
    display: block
    width: 100%
    background: #fff
    border: 1px solid #e1e1e1
    color: #858585
    font-size: 14px
    height: 46px
    line-height: 28px
    padding: 9px 10px 9px 20px
    outline: none
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    -moz-transition: 0.3s all ease
    -o-transition: 0.3s all ease
    -webkit-transition: 0.3s all ease
    transition: 0.3s all ease
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

select:focus, textarea:focus
  -webkit-box-shadow: 1px 1px 10px 0 0 5px #00bcd4
  -moz-box-shadow: 1px 1px 10px 0 0 5px #00bcd4
  box-shadow: 1px 1px 10px 0 0 5px #00bcd4

input
  &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus
    -webkit-box-shadow: 1px 1px 10px 0 0 5px #00bcd4
    -moz-box-shadow: 1px 1px 10px 0 0 5px #00bcd4
    box-shadow: 1px 1px 10px 0 0 5px #00bcd4

select::-moz-placeholder, textarea::-moz-placeholder
  color: #858585 !important

input
  &[type="text"]::-moz-placeholder, &[type="password"]::-moz-placeholder, &[type="datetime"]::-moz-placeholder, &[type="datetime-local"]::-moz-placeholder, &[type="date"]::-moz-placeholder, &[type="month"]::-moz-placeholder, &[type="time"]::-moz-placeholder, &[type="week"]::-moz-placeholder, &[type="number"]::-moz-placeholder, &[type="email"]::-moz-placeholder, &[type="url"]::-moz-placeholder, &[type="search"]::-moz-placeholder, &[type="tel"]::-moz-placeholder, &[type="color"]::-moz-placeholder
    color: #858585 !important

select:focus::-moz-placeholder, textarea:focus::-moz-placeholder
  color: transparent !important

input
  &[type="text"]:focus::-moz-placeholder, &[type="password"]:focus::-moz-placeholder, &[type="datetime"]:focus::-moz-placeholder, &[type="datetime-local"]:focus::-moz-placeholder, &[type="date"]:focus::-moz-placeholder, &[type="month"]:focus::-moz-placeholder, &[type="time"]:focus::-moz-placeholder, &[type="week"]:focus::-moz-placeholder, &[type="number"]:focus::-moz-placeholder, &[type="email"]:focus::-moz-placeholder, &[type="url"]:focus::-moz-placeholder, &[type="search"]:focus::-moz-placeholder, &[type="tel"]:focus::-moz-placeholder, &[type="color"]:focus::-moz-placeholder
    color: transparent !important

select:hover
  cursor: pointer

/*========================================================
 *                         Footer
 *=========================================================

footer
  background: #191919
  position: relative
  color: #858585
  padding: 0
  margin-top: 50px

.common-home footer
  margin-top: 0

footer
  .box .box-heading
    text-align: left
  .footer_modules
    position: relative
    overflow: hidden
    background: #292929
    padding: 97px 0 0
    h1
      font-size: 36px
      line-height: 36px
      font-weight: 400
      margin-bottom: 20px
      letter-spacing: 3px
    p
      color: #fff
      font-size: 12px
      line-height: 18px
      font-weight: 600
      margin: 0
    .container .tm-inner
      padding-top: 57px
      border-top: 1px solid #3c3c3c
  h1, h2, h3, h4, h5, h6
    color: #fff
  h1
    &:after, &:before
      display: none
  h2
    &:after, &:before
      display: none
  h3
    &:after, &:before
      display: none
  h4
    &:after, &:before
      display: none
  h5
    &:after, &:before
      display: none
  h6
    &:after, &:before
      display: none
  h3, h5
    font-size: 24px
    line-height: 24px
    font-weight: bold
    letter-spacing: 0
    color: #fff
    margin-bottom: 30px
    text-transform: none
  h3 + ul, h5 + ul
    margin-top: 0px
  ul
    margin: 0
    li
      display: block
      a
        font-size: 14px
        font-weight: 400
        line-height: 26px
        color: #858585
        &:focus, &:visited
          font-size: 14px
          font-weight: 400
          line-height: 26px
          color: #858585
        &:hover, &:focus:hover, &:visited:hover
          color: #fff
      + li
        margin-top: 4px
  .footer_box .social-list
    padding-top: 19px
    li
      display: inline-block
      float: none
      a
        font-size: 24px
        i
          font-style: normal
          font-weight: normal
      + li
        margin-left: 29px
        margin-top: 0
  .address-block
    margin-top: -10px
    address
      position: relative
      overflow: hidden
      p
        padding-left: 27px
        padding-top: 15px
        margin-bottom: 17px
        font-size: 16px
        line-height: 28px
        font-weight: 400
        position: relative
        + p
          border-top: 1px solid #3c3c3c
        i
          position: absolute
          left: -2px
          top: 16px
          display: inline-block
          font-size: 23px
          color: #00bcd4
        a
          color: #858585
          font-size: 16px
          line-height: 28px
          font-weight: 400
          &:hover
            text-decoration: none
            color: #00bcd4

.validationMessage
  color: #F00
  margin-top: 10px
  display: block

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
  color: #fff
  background-color: #0380af

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover
  color: #fff
  background-color: #0380af
